/* Define application-wide selectors here!*/
@use '../variables' as *;

html {
	position: relative;
	height: 100%;
}

body {
	width: 80%;
	margin: 0 auto;
	font-family: $serif;
	font-size: 12px;
}

button {
	background-color: rgb(74, 89, 161);
	border-color: rgb(63, 76, 139);
	color: white;
	font-weight: 600;
	padding: 10px;
	border-radius: 5px;
	transition: .5s;
	font-family: sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	text-align: center;
}

.fa-sharp {
	font-size: 20px;
}

button:hover {
	background-color: rgb(47, 77, 130);
	border-color: rgb(29, 58, 104)
}

/*
	Header Rules
*/

hr {
	border: 0;
	height: 1px;
	background-color: $light-gray;
}

.hr-top, .hr-bottom {
	width: 100%;
	margin: 0;
}

.hr-top {
	height: 2px;
	margin-bottom: 1px;
}